@import "tailwindcss";

:root {
  --font-primary: "Anek Telugu", sans-serif;
  --font-secondary: "Montserrat Alternates", sans-serif;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;   
  scrollbar-width: none;    
}
